In [2]:
import pandas as pd 
import numpy as np 
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
dat = pd.date_range("20220120", periods=10)
dat

DatetimeIndex(['2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
               '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27',
               '2022-01-28', '2022-01-29'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(10,4),index=dat,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-20  1.078895  1.839238 -0.542008 -1.536281
2022-01-21 -1.281302 -0.692552 -0.971310 -0.367346
2022-01-22 -0.714936 -0.869391 -0.284293 -1.152119
2022-01-23  0.407913 -0.386050 -1.209312  0.160282
2022-01-24  0.171099 -0.154020 -0.315675  0.287627
2022-01-25 -0.388930 -0.947154 -1.158319  0.076477
2022-01-26  0.323868 -0.911431 -0.917410  0.244873
2022-01-27  1.524995 -0.616580  0.180317  0.072559
2022-01-28  0.163051  0.489200  0.011942  1.083248
2022-01-29  2.661563 -0.321713  0.504527  1.175323

In [7]:
df2 = pd.DataFrame({
    "A": 1,
    "B": pd.Timestamp("20220120"),
    "C":pd.Series(1, index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4,dtype="int32"),
    "E":pd.Categorical(["test","train","validation","test"])
})
df2

   A          B    C  D           E
0  1 2022-01-20  1.0  3        test
1  1 2022-01-20  1.0  3       train
2  1 2022-01-20  1.0  3  validation
3  1 2022-01-20  1.0  3        test